<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style>body { font-family: sans-serif; text-align: center; padding-top: 50px; background-color: #181A1B; color: #166534; }</style>
</head>
<body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p><small>You can now close this window.</small></p>
</body>
</html>